* {
	font-family: "Mali", cursive;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	background-image: url(./content/indexAboutBG.png);
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
}

main {
	width: 100vw;
	margin: auto;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
}

.recttop {
	display: flex;
	position: relative;
	align-self: center;
	justify-content: center;
	width: 100vw;
	height: 9vh;
	background-color: #362a74;
	border-radius: 0px 0px 10em 10em;
	border-width: 5px;
	border-color: #e6e6f2;
	border-style: solid;
	border-top: 0px;
	box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.404);
}

.title {
	display: flex;
	align-self: center;
	color: #e6e6f2;
	font-weight: 700;
	font-style: bold;
	font-size: 2.5em;
	margin-bottom: 0.15em;
	text-decoration: none;
}

.rectbot {
	display: flex;
	position: absolute;
	align-self: center;
	justify-content: center;
	width: 100vw;
	height: 9vh;
	background-color: #362a74;
	border-radius: 10em 10em 0em 0em;
	bottom: 0;
	border-style: solid;
	border-bottom: 0px;
	border-width: 5px;
	border-color: #e6e6f2;
}

.about {
	display: flex;
	align-self: center;
	color: #e6e6f2;
	font-weight: 700;
	font-style: bold;
	font-size: 2.5em;
	margin-bottom: 0.15em;
	text-decoration: none;
}

.btnLocal {
	width: 100vw;
	height: 80vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.aquaticBtn {
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: #e6e6f2;
	margin-right: 2.5em;
	margin-top: -1em;
}

.forestBtn {
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: #e6e6f2;
	margin-top: -1em;
}

.savannaBtn {
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: #e6e6f2;
	margin-right: 2.5em;
	margin-top: -6.5em;
}

.spaceBtn {
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: #e6e6f2;
	margin-top: -6.5em;
}

.polarBtn {
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: #e6e6f2;
	margin-right: 2.5em;
	margin-top: -6.5em;
}

.desertBtn {
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: #e6e6f2;
	margin-top: -6.5em;
}
